.mainPage {
  width: 1000px;
  height: 100%;
  position: relative;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 80px;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.timer {
  margin-bottom: 40px;
}

.formContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
