@import './styles//fonts.scss';

:root {


  /* colors */
  --primary: #ff7700;
  --primary-hover: #d66400;
  --black: #121116;
  --black-hover: #2c2935;
  --white: #ffffff;
  --background-secondary: #eff2f9;
  --border-color: #525252;

  /* font-size */
  --web-default: 18px;

  /* font-weight */
  --fw-bold: 600;
  --fw-normal: 500;

  /* font-family */
  --OK_Sans_Display_Medium: 'OK_Sans_Display_Medium';
  --OK_Sans_Display_DemiBold: 'OK_Sans_Display_DemiBold';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 20px;
  margin: 0 auto;
  color: var(--black);
  background-color: var(--white);
  font-family: var(--OK_Sans_Display_Medium);
  font-size: var(--web-default);
  line-height: 120%;
  letter-spacing: 0.08em;
  font-weight: var(--fw-normal);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  color: inherit;
  outline: none;
  cursor: pointer;
  font-family: var(--OK_Sans_Display_Medium);
  font-size: var(--fz-20);
  font-weight: var(--fw-normal);

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

